.flex{
    width: 100% !important;
    display: flex;
    justify-content: flex-end;
}
.nav-link{
    margin-right: 50px;
    margin-left: 50px;
    color: white;
}
.navbar-brand{
    color: white;
}
.nav-item-login{
    border: 2.5px solid rgba(255,255,255,1);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.navbar-expand{
    color: black;
    position: absolute !important;
    width: 100%;
    background: linear-gradient(rgb(0, 0, 0), rgba(0,0,0,0));
}
.all-nav{
    background-image: url("./IMAGEMS/vrback.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 700px;
}
.minecraft{
    width: 542px;
    height: 369px;
    max-width: 542px !important;
    max-height: 369px !important;
    /* border: 1px solid rgba(255,255,255,1); */
    box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.25);
}
.box-noticias{
    background-color: rgba(16,19,31,1) !important;
    padding-bottom: 10px;
  }
.navbar-brand{
    display: flex;
    justify-content: flex-start !important;
    height: 100px;
}
.text-categoria {
    color: rgba(255,255,255,1);
    position: relative;
    top: 600px;
    font-family: Roboto Mono;
    font-weight: Bold;
    font-size: 35px;
    text-align: center;
    background: rgba(16 19 31);
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    padding: 10px;
  }
  .infos{
    width: 99%;
    position: relative;
    border: 2px solid rgb(11, 12, 12);
}